div
  baseRow
    baseCol.pl-3(cols="2")
      baseText(
        label="Part Width"
      )
    baseCol(cols="2")
      baseText(
        label="Part Length"
      )
  baseRow
    baseCol.pl-3(cols="2")
      baseCombo(
        :items="materials"
        label="Material"
      )
    baseCol(cols="2")
      baseCombo(
        :items="materials"
        label="Unit of Measures"
      )
    baseCol(cols="2")
      baseText(
        label="Price"
      )
