v-card.pt-0.pb-0(
  width="100%"
  outlined
)
  v-system-bar.d-flex.justify-space-around(
    color="black"
    window
    dark
    style="padding: 0px"
  )
  v-row(style="height: 60px;")
<<<<<<< HEAD
    v-col.pa-1.ml-3(cols="2")
      baseText(
        label="Customer"
      )
    v-col.pa-1(cols="2")
      baseText(
        label="Program"
      )
    v-col.pa-1(cols="2")
      baseText(
        label="RFQ Number"
      )
    v-col.pa-1(cols="2")
      baseText(
        label="Part Number"
      )
    v-col.pa-1(cols="2")
      baseText(
        label="Revision"
=======
    v-col.pt-2.px-2(cols="2")
      v-text-field.ml-3(
        dense
        label="CUSTOMER"
        outlined
        hide-details="auto"
        text-uppercase
      )
    v-col.pt-2.px-2(cols="2")
      v-text-field(
        dense
        label="PROGRAM"
        outlined
        hide-details="auto"
      )
    v-col.pt-2.px-2(cols="2")
      v-text-field(
        dense
        label="RFQ NUMBER"
        outlined
        hide-details="auto"
      )
    v-col.pt-2.px-2(cols="2")
      v-text-field(
        dense
        label="PART NUMBER"
        outlined
        hide-details="auto"
      )
    v-col.pt-2.px-2(cols="1")
      v-text-field(
        dense
        label="REVISION"
        outlined
        hide-details="auto"
>>>>>>> dd8e4c9f6e3e99a1cb373c407b055cb3a9a58498
      )
  v-simple-table(dense)
    template(v-slot:default)
      thead
        tr
          th(v-for="(heading, index) in thead") {{ heading }}
      tbody
        tr(v-for="row in tbody")
          td(
            v-for="(value, index) in row"
          )
            input(
              type="text"
              v-model="row[index]"
            )
        tr
          v-btn(
            @click="addRow"
          ) +
          v-btn(
            @click="removeRow"
          ) -
