v-card.pt-0.pb-0(
  width="100%"
  outlined
)
  v-system-bar.d-flex.justify-space-around(
    color="black"
    window
    dark
    style="padding: 0px"
  )
  baseRow
    baseCol.pl-3(cols="2")
      baseText(
        label="Customer"
      )
    baseCol(cols="1")
      baseText(
        label="Program"
      )
    baseCol(cols="2")
      baseText(
        label="RFQ Number"
      )
    baseCol(cols="2")
      baseText(
        label="Part Number"
      )
    baseCol(cols="2")
      baseText(
        label="Revision"
      )
    baseCol(cols="2")
      baseText(
        label="Part Name"
      )
  v-simple-table(dense)
    template.pa-0.ma-0(v-slot:default)
      thead.pa-0.ma-0
        tr
          th(v-for="(heading, index) in thead") {{ heading }}
      tbody
        tr(v-for="row in tbody")
          td(
            v-for="(value, index) in row"
          )
            input(
              type="text"
              v-model="row[index]"
            )
        tr
          v-btn(
            @click="addRow"
          ) +
          v-btn(
            @click="removeRow"
          ) -
