v-container.mt-0.pt-0(fluid)
  v-row
    v-col(
      cols="12"
      style="padding: 0px;"
    )
      v-system-bar.d-flex.justify-space-around(
        color="$blue"
        window
        dark
        style="padding: 0px;"
      )
        v-btn(
          text
          small
          color="search"
        ) Add
        v-btn(
          text
          small
          color="search"
        ) Remove
  v-row.mt-5(no-gutters)
    v-col(cols="12")
      v-text-field(
        clearable
        dense
        full-width
        outlined
        prepend-inner-icon="mdi-magnify"
        single-line
        v-model="search"
      )
      v-treeview(
        activatable
        dense
        :items="items"
        :search="search"
        selectable
        selection-type="leaf"
      )
