splitpanes(
  class="default-theme"
  vertical
)

  pane(size="20")
    include includes/searchRfq.pug

  pane(size="80")
    splitpanes(
      class="default-theme"
      horizontal
    )
      pane(
        size="22"
        style="overflow-y: auto;"
      )
        include includes/rfqSection.pug
      pane(size="78")
        v-tabs(
          background-color="primary"
          grow
          slider-color="yellow"
          style="height: 36px;"
        )
          v-tab Raw Material
          v-tab Fabrication
          v-tab Processing
          v-tab Assembly
          v-tab Shipping


