splitpanes(
  class="default-theme"
  vertical
)

  pane(size="15")
    include includes/searchRfq.pug

  pane(size="85")
    splitpanes(
      class="default-theme"
      horizontal
    )
      pane(
        size="25"
        style="overflow-y: auto;"
      )
        include includes/rfqSection.pug
      pane(size="75")
        v-tabs(
          dark
          background-color="black"
          color="white"
          grow
          slider-color="yellow"
          style="height: 36px;"
          v-model="tab"
        )
          v-tab Material
          v-tab Fabrication
          v-tab Processing
          v-tab Assembly
          v-tab Shipping
        v-tabs-items(v-model="tab")
          v-tab-item
            include includes/material.pug
          v-tab-item
            p Fabrication Section
          v-tab-item
            p Processing Section
          v-tab-item
            p Assembly Section
          v-tab-item
            p Shipping Section

